/*.para{
    color: blue;

}*/
#para4{
    color: violet;
}
#para6{
    color: chocolate;
    background-color: green;
}
#Test{
    color: black;
    background-color: aqua;
}
/*descendant selector */
/*div p{
    color: brown;
}*/

div>p{
color: black;
}
#bg-img{
    
   background-image: url(instagram.jpg);
   background-repeat: no-repeat;
   height: 300px;


}
